.criteria-label {
    max-width: 30%;
    font-weight: bold;
}
.criteria-select {
    min-width: 70%;
}
.entity-item {
    font-size: 14px;
}
.label-item-left {
    min-width: 400px;
}
.label-item-right {
    max-width: 80px;
}
.card-no {
    background-color: green;
    color: #ffffff;
    text-align: center;
    padding: 5px;
}
.hint {
    width: 100%;
    text-align: center;
    color: cornflowerblue;
}