// Colors
$c-blue: #1126be;
$c-white: #fefefe;

// Transparent Colors
$t-blue: rgba(17, 38, 190, 0.8);

// Gradients
$g-blue: linear-gradient($t-blue, $t-blue);

// Shadows
$s-basic: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);


// Imports
@import url('https://fonts.googleapis.com/css?family=Nunito:300');


// Resets
* {
  box-sizing: border-box;  
  font-family: inherit;
}


body {
  margin: 0;  
  padding-bottom: 20px;
  font-family: 'Nunito', sans-serif;
  color: $c-white;
  background: $c-white;
}


// Global Layout
.wrapper {
  margin: 0 auto;
  width: 350px;
  box-shadow: $s-basic;
}

.section {
  padding: 1rem;
}

// Header Styles
.header {
  position: relative;
  text-align: center;
  
  &__text {
    position: relative;
    padding: 2.5rem 0 3rem ;
    
    > h1 {
      margin: 0;
      font-size: 2.5rem;
    }
  }
  &__image {
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  > .trapezoid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewY(-10deg);
    transform-origin: top left; 
    box-shadow: $s-basic;
    background: $t-blue;
    background-position: top center;
    background-attachment: fixed;
  }
}

// Form, input and button styles
form {
  margin: 0 auto;
  max-width: 17rem;
  overflow: auto;
  
  > * + * {
    margin-top: 1rem;
  }
  
  > ion-input {
    border: 0;
    border-bottom: 1px solid $c-blue;
    border-radius: 0;
    width: 100%;
    height: 2rem;
    padding: 0 0 0.25rem 0;
    font-size: 1rem;
    color: $c-blue;
    background: $c-white;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $c-blue;
    }
  }
  
  > button {
    margin-top: 2rem;
    border: 0;
    border-radius: 200px;
    width: 100%;
    padding: 0.85rem;
    font-size: 1rem;
    color: $c-white;
    background: $c-blue;

    &:focus {
      outline: none;
    }  
  }
  
  > p {
    margin: 0.25rem 0 0;
    text-align: center;
    color: $c-blue; 
  }
}

// Starting value for sign-up form
.sign-up {
  display: none;
}

// Switch btn: there are two only because I was in a hurry a didn't want to write all the javascript immediately. In a production environment, there would be one opposite btn class that switched between the two.
.opposite-btn1,
.opposite-btn2 {
  cursor: pointer;
}

.app-version {
  text-align: center;
  font-size: 12px;
  padding: 5px;
}